body{ 
	background: url("../images/bulb-background.jpg");
	background-size: cover;
	background-repeat:no;
	background-attachment: fixed;
	margin: 0 auto;

}


/*
	background: url("../images/flowers.JPG");
	background-size: cover;
	background-attachment: fixed;
	width: 100px;
	height: 120px;
	padding-top: 5%;
	border-radius: 30px;
*/


#header-section{

}

#flower-image{
	position: absolute;
	height: 100px;
	width: 100px;
	top: 0px;
	left: 0px;
	opacity: 0.7;
	border-radius: 30px;
}

li[class="links"] a{
	display: inline-block;
	background: linear-gradient(to bottom right, #690755, #EDE6EC);
	color: white;
	margin-top: 5px;
	width: 70%;
	border-radius: 50px;
}

li[class="links"] a:hover{
	background: white;
	color: black;
}

li {
	list-style-type: none;
}

h1{
	font-family: 'Charmonman', cursive;
	font-weight: bold;
	font-size: 90px;
	opacity: none;
	position: relative;
}

h5{
	font-family: 'Gentium Basic', serif;
}

#homepage-body{
	margin: 0 auto;
	margin-top: 10px;

}

.container{
	background: rgba(50, 164, 199, 0.1) ;
	padding-top: 10%;
	padding-bottom: 20%;
	padding-left: 5%;
	padding-right: 5%;

}

td{
	margin: 4px;
}

#portfolio-links{
	width: 70%;
	margin: 0 auto;
}

#portfolio-links td:nth-of-type(1){
	padding-left: 3%;
	padding-top:1%;
	padding-bottom:1%;
	padding-right: 2%;
	width: 10%;
	color: black;

}
#portfolio-links td:nth-of-type(2){
width: 50%;

}

.portfolio-links a{
	color: black;
}

thead{
	text-align: center;
}

.connect-links{
	 
}

.links{
	
}

.logo-images{
	width: 60px;
	height:60px;
	border-radius: 20px;
}